body{
	font-family: Arial;
}

h2 {
	font-size: 20px;
}

.main-header{
	text-align: center;
	font-size: 30px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.left {
	width: 60%;
	margin-right: 20px;
}
.right {
	width: 40%;
}
.chart {
	margin-bottom: 20px;
}

.add-input {
	margin-bottom: 10px;
}

.acknowledgements {
	text-align: center;
}
